<h1>Form 1</h1>
<form style="padding-left: 20px">
  <div class="row">
    <div class="col-md-3">
      <label for="name">Name</label>
    </div>
    <div class="col-md-5">
      <input id="name" name="UserName" type="text"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label for="tel">Tel</label>
    </div>
    <div class="col-md-5">
      <input id="tel" name="telephone" type="text"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label for="birthYear">Birth Year</label>
    </div>
    <div class="col-md-5">
      <input id="birthYear" name="BirthYear" type="text"/>
    </div>
  </div>


  <button type="submit">Submit</button>
</form>


