<h1>Form 5</h1>
<form #f="ngForm"  (submit)="submitForm(f.value,f.valid)" style="padding-left: 20px">
  <div class="row">
    <div class="col-md-3">
      <label for="name">Name</label>
    </div>
    <div class="col-md-5">
      <input id="name" name="UserName" type="text" ngModel/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label for="tel">Tel</label>
    </div>
    <div class="col-md-5">
      <input id="tel" #tel="ngModel" name="telephone" type="text" pattern="[0-9]*" ngModel/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label for="birthYear">Birth Year</label>
    </div>
    <div class="col-md-5">
      <input id="birthYear" #birthYear="ngModel" name="BirthYear" type="text" pattern="[0-9]*" ngModel  birthYear/>
    </div>
  </div>

  <div ngModelGroup="address1">
    <div class="row">
      <div class="col-md-3">
        <label for="street">Street</label>
      </div>
      <div class="col-md-5">
        <input id="street" name="street" type="text" ngModel/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label for="city">City</label>
      </div>
      <div class="col-md-5">
        <input id="city"  name="city" type="text" ngModel/>
      </div>
    </div>
  </div>

  <div ngModelGroup="address2">
    <div class="row">
      <div class="col-md-3">
        <label for="street[0]">Street</label>
      </div>
      <div class="col-md-5">
        <input id="street[0]" name="street[0]" type="text" ngModel/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label for="street[1]">City</label>
      </div>
      <div class="col-md-5">
        <input id="street[1]"  name="street[1]" type="text" ngModel/>
      </div>
    </div>
  </div>


  <div *ngIf="(birthYear.dirty && birthYear.invalid)  || (tel.dirty && tel.invalid)">
    Invalida Data
  </div>
  <input type="submit"  />
</form>


